/* popup styles */
.popupf {
    display: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 10;
  }
  .popup-overlayf {
      background: rgba(0,0,0,0.9);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: hidden;
  }
  .popup-contentf {
    height: 50%;
    position: absolute;
    background: #fff;
    width: 50%; 
     margin: 30px auto;
     /* margin: -58px 0 0 -264px; */
      left: 25%;
      top: 25%; 
      z-index: 11; 
    padding: 20px;
    border-style: solid;
  }
  .close-popupf {
    display: inline-block;
    position: absolute;
    top: -8px;
    right: -40px;
    font-size: 42px;
    height: auto;
  }
  
  /* Animations */
  
  .rotateCubeInf {
      -webkit-transform-origin: 50% 100%;
      -webkit-animation: rotateCubeIn .6s both ease-in;
      -moz-transform-origin: 50% 100%;
      -moz-animation: rotateCubeIn .6s both ease-in;
      transform-origin: 50% 100%;
      animation: rotateCubeIn .6s both ease-in;
  }
  @-webkit-keyframes rotateCubeIn {
      0% {opacity: .3;
          -webkit-transform: translateY(-100%) rotateX(90deg);}
      50% {-webkit-animation-timing-function: ease-out;
          -webkit-transform: translateY(-50%) translateZ(-200px) rotateX(45deg); }
  }
  @-moz-keyframes rotateCubeIn {
      0% {opacity: .3;
          -moz-transform: translateY(-100%) rotateX(90deg); }
      50% {-moz-animation-timing-function: ease-out;
          -moz-transform: translateY(-50%) translateZ(-200px) rotateX(45deg);}
  }
  @keyframes rotateCubeIn {
      0% {opacity: .3;
          transform: translateY(-100%) rotateX(90deg);}
      50% {animation-timing-function: ease-out;
          transform: translateY(-50%) translateZ(-200px) rotateX(45deg);}
  }
  
  .rotateCubeOutf {
      -webkit-transform-origin: 50% 0;
      -webkit-animation: rotateCubeOut .6s both ease-in;
      -moz-transform-origin: 50% 0;
      -moz-animation: rotateCubeOut .6s both ease-in;
      transform-origin: 50% 0;
      animation: rotateCubeOut .6s both ease-in;
  }
  @-webkit-keyframes rotateCubeOut {
      50% {-webkit-animation-timing-function: ease-out;-webkit-transform: translateY(50%) translateZ(-200px) rotateX(-45deg);  }
      100% { opacity: .3; -webkit-transform: translateY(100%) rotateX(-90deg); }
  }
  @-moz-keyframes rotateCubeOut {
      50% { -moz-animation-timing-function: ease-out;-moz-transform: translateY(50%) translateZ(-200px) rotateX(-45deg);  }
      100% { opacity: .3;-moz-transform: translateY(100%) rotateX(-90deg); }
  }
  @keyframes rotateCubeOut {
      50% {animation-timing-function: ease-out;
          transform: translateY(50%) translateZ(-200px) rotateX(-45deg); }
      100% { opacity: .3; transform: translateY(100%) rotateX(-90deg);}
  }
  
  /* Demo Styles */

  
  .btnf:hover {
      border-radius: 5px;
    background: #fff;
    color: rgb(0,0,0);
  }
  .popupf {
      -webkit-perspective: 1200px;
      -moz-perspective: 1200px;
      perspective: 1200px;
  }
  .popup-contentf {
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform: translate3d(0,0,0);
      -moz-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      transform-style: preserve-3d;
  }