.section-slantedcard {
    overflow: hidden;
    padding: 50px 0 50px;
	  font-family: 'Roboto', sans-serif;
}

.content-slantedcard {
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
    max-width: 1000px;
    max-width: 900px;
}

.section-slantedcard-card {
    padding: 60px 90px 35px;
    box-shadow: 0 2px 4px 0 rgba(136,144,195,0.2), 0 5px 15px 0 rgba(37,44,97,0.15);
    background-color: white;
}

.section-slantedcard-bottom {
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    transform: rotate(-2deg);
    box-shadow: 0 2px 4px 0 rgba(136,144,195,0.2), 0 5px 15px 0 rgba(37,44,97,0.15);
    background-color: white;
}

.section-slantedcard-top {
    position: relative;
    z-index: 5;
}

.content-slantedcard-img img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    transform: translateY(-50%);
    height: 60px;
    text-align: center;
}

.content-slantedcard-text {
    line-height: 1.6;
}

@media (max-width: 767px) {    
    .section-slantedcard-card {
        padding: 60px 45px 35px;
    }
    
    .section-slantedcard-bottom {
        display: none;
    }
    
    .section-slantedcard-top {
        position: relative;
        z-index: 5;
    }
}